* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#header-container {
    height: 70px;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
}

#header-flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

header {
    display:inline-flex;
}

header img {
    display: inline-flex;
    height: 50px;
    width: auto;
    margin-left: 10px;
}

nav {
    display: inline-flex;
    margin-right: 10px;
}

nav li {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    color: seashell;
    padding: .5rem;
}

main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

#banner-container {
    display: inline-flex;
    height: 700px;
    width: 100%;
    background-image: url("./images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

#banner {
    height: 15%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner h2 {
    margin-bottom: .5em;
}

#month-tea {
    width: 1000px;
    margin: 3em auto 0 auto;
}

#month-tea h2 {
    margin-bottom: .75em;
}

#month-tea h4 {
    margin-bottom: .75em;
}